@using reCAPTCHA.MVC
@model DAL.Model.Poll

<style>
    .required {
        color: red;
    }
</style>

<div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body" style="padding:35px">
                    @if (ViewBag.ErrorMessage != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @ViewBag.ErrorMessage
                        </div>
                    }
                    @using (Html.BeginForm("Create", "Poll", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <small>*La información solicitada es para uso exclusivo de Marea Verde.</small>
                        </div>
                        <div class="form-group">
                            <label>Nombre</label> <span class="required">*</span>
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Apellido</label> <span class="required">*</span>
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Email</label> <span class="required">*</span>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Celular</label>
                            <small>(Opcional)</small>
                            @Html.TextBoxFor(m => m.Cellphone, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Edad</label> <span class="required">*</span>
                            <br />
                            @Html.DropDownListFor(model => model.Age, VolunteersMiner.Helpers.GetAges().Select(option => new SelectListItem
                            {
                                Text = Html.Raw(option).ToHtmlString(),
                                Value = option.ToString(),
                                Selected = false
                            }), "Seleccionar una edad", new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>¿A qué te dedicas?</label>
                            <small>(Opcional)</small>
                            <br />
                            @Html.DropDownListFor(model => model.Profession, VolunteersMiner.Helpers.WhatDoYouDo().Select(option => new SelectListItem
                            {
                                Text = Html.Raw(option).ToHtmlString(),
                                Value = option.ToString(),
                                Selected = false
                            }), "Seleccionar una opción", new { @class = "form-control", @id = "professionList" })
                        </div>
                        <div class="form-group" id="professionInstitution" hidden>
                            <label id="institution"></label>
                            <small>(Opcional)</small>
                            <br />
                            @Html.TextBoxFor(m => m.ProfessionInstitution, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Provincia</label> <span class="required">*</span>
                            @Html.DropDownListFor(model => model.Province, VolunteersMiner.Helpers.GetProvinces().Select(option => new SelectListItem
                            {
                                Text = Html.Raw(option).ToHtmlString(),
                                Value = option.ToString(),
                                Selected = false
                            }), "Seleccionar una provincia", new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Área</label> <span class="required">*</span>
                            @Html.TextBoxFor(m => m.Area, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Días en qué está interesado en colaborar</label> <span class="required">*</span>
                            @Html.DropDownListFor(model => model.TimeToParticipate, VolunteersMiner.Helpers.GetTimes().Select(option => new SelectListItem
                           {
                               Text = Html.Raw(option).ToHtmlString(),
                               Value = option.ToString(),
                               Selected = false
                           }), "Seleccionar una opción", new { @class = "form-control", @id = "timesList" })
                        </div>
                        <div id="otherTime" class="form-group" hidden>
                            <label>Otro:</label> <span class="required">*</span>
                            @Html.TextBoxFor(m => m.OtherTimeToParticipate, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Tipo de voluntariado en el que está interesado</label> <span class="required">*</span>
                            @Html.DropDownListFor(model => model.TypeOfHelp, VolunteersMiner.Helpers.GetVolunteerType().Select(option => new SelectListItem
                           {
                               Text = Html.Raw(option).ToHtmlString(),
                               Value = option.ToString(),
                               Selected = false
                           }), "Seleccionar una opción", new { @class = "form-control", @id = "volunteerTypeList" })
                        </div>
                        <div id="otherVolunteerType" class="form-group" hidden>
                            <label>Otro:</label>  <span class="required">*</span>
                            @Html.TextBoxFor(m => m.OtherTimeToParticipate, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            @Html.Recaptcha()
                        </div>
                        <hr />
                        <div style="text-align:center">
                            <button type="submit" class="btn btn-info">Aceptar</button>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

<script>
    $(document).ready(function () {
        CheckProfession();
        CheckTime();
        CheckVolunteerType();

        function CheckProfession() {
            var val = $("#professionList").val();
            if (val == '@VolunteersMiner.Helpers.WhatDoYouDo()[0]') {
                $('#professionInstitution').show();
                $('#institution').html('Universidad:');
            }
            else {
                $('#professionInstitution').show();
                $('#institution').html('Empresa:');
            }
        }

        function CheckTime() {
            var val = $("#timesList").val();
            if (val == 'Otro') {
                $('#otherTime').show();
            }
            else {
                $('#otherTime').hide();
            }
        }

        function CheckVolunteerType() {
            var val = $("#volunteerTypeList").val();
            if (val == 'Otro') {
                $('#otherVolunteerType').show();
            }
            else {
                $('#otherVolunteerType').hide();
            }
        }

        $('#professionList').change(function () {
            CheckProfession();
        })

        $('#timesList').change(function () {
            CheckTime()
        });

        $('#volunteerTypeList').change(function () {
            CheckVolunteerType();
        })
    });
</script>